[submodule "sources/binutils"]
	path = sources/binutils
	url = https://github.com/bitthunder-toolchain/binutils.git
[submodule "sources/gcc"]
	path = sources/gcc
	url = https://github.com/bitthunder-toolchain/gcc.git
[submodule "sources/newlib"]
	path = sources/newlib
	url = https://github.com/bitthunder-toolchain/newlib.git
