[submodule "sources/binutils"]
	path = sources/binutils
	url = git@gitlab.riegl-gmbh:bitthunder-toolchain/binutils.git
[submodule "sources/gcc"]
	path = sources/gcc
	url = git@gitlab.riegl-gmbh:bitthunder-toolchain/gcc.git
[submodule "sources/newlib"]
	path = sources/newlib
	url = git@gitlab.riegl-gmbh:bitthunder-toolchain/newlib.git
